<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>Project Neighborhood Map</title>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css.map') }}">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css.map') }}">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">

  </head>
  <body>

  
<div class="container">
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#">Neighborhood Map</a>
  </nav>

  <div class="d-flex justify-content">
    <div class="w-25 p-3">      
      <input class="form-control mr-sm-2" type="text" placeholder="Search..." data-bind="textInput: filter">
      <ul class="list-group" data-bind="foreach: filteredItems, visible: filteredItems().length > 0">        
        <a href="#" data-bind="click: $parent.showPlace"><span data-bind="text: name"></span></a>        
      </ul>
    </div>
    <div class="w-75 p-3">
      <div id="map"></div>            
    </div>    
  </div>



  <div class="card" >  
    <div class="card-block">
      <div class="card-title"> 
        <form data-bind="submit: findPlace">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for..."  data-bind="value: address">
            <span class="input-group-btn">
              <button class=" btn btn-outline-success my-2 my-sm-0" type="submit">Go!</button>
            </span>
          </div>
          <div data-bind="latitude: viewModel.lat, longitude:viewModel.lng, map:map" ></div>
         </form>

      </div>
      <p class="card-text">

        <form data-bind="submit: addAddress">
          <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">Place</label>
            <div class="col-10">
              <input class="form-control" type="text" data-bind="value: name" readonly>
            </div>
          </div>

          <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">Description</label>
            <div class="col-10">              
              <textarea class="form-control"  rows="3" data-bind="value: description"></textarea>
            </div>
          </div>

          <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">Location</label>
            <div class="col-10">
              <input class="form-control" type="text" data-bind="value: lat" readonly>
              <input class="form-control" type="text" data-bind="value: lng" readonly>
            </div>
          </div>          
          <button type="submit" class="btn btn-primary">Add new place</button>
        </form>    
    </div>
  </div>


  
</div>
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/knockout-3.4.2.js') }}"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdqkttXHFtZLwrNlI_uwSyYofpNRLMsJ0"> </script>
  
</body>
</html>
