<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>Project Neighborhood Map</title>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">      
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/main.css') }}">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
      
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/input-search.css') }}">

  </head>
  <body>



<div id="page-wrapper">
    <div class="container">
		  
      <header class="row">  
        <div class="col-12">
          <div id="title">Neighborhood Map</div>        
        </div>      
         
      </header>
      
      <div class="row">
        <div class="col-12">
          <div id="map"></div> 
        </div>
        
			  <div class="col-6">

          
          <form data-bind="submit: findPlace" >
             <label>Place
              <input type="text"   placeholder="Search for..."  data-bind="value: address, placeholder: missing">            
              <button style="cursor: pointer" type="submit">Go!</button>            
            </label>  
            <div data-bind="latitude: viewModel.lat, longitude:viewModel.lng, map:map" ></div>
          </form>

          <form data-bind="submit: addAddress">
            <label>Place</label>         
            <input type="text" data-bind="value: name" readonly>

            <label>Description</label>         
            <textarea  rows="3" data-bind="value: description" readonly></textarea>

            <label>Location</label>            
            <input type="text" data-bind="value: lat" readonly>
            <input type="text" data-bind="value: lng" readonly>


            <label>Place id</label>          
            <input type="text" data-bind="value: place_id" readonly>

            <button type="submit" class="btn btn-primary">Add new place</button>
          </form>
			  </div>
		  </div>

    </div>
</div>


<div id="btn">
		<div id='top'></div>
		<div id='middle'></div>
		<div id='bottom'></div>    
</div>

<div id="box">
    <div>
      <h1 style="text-align: center;position: relative;top: 85px;">Search</h1>
      <form class="inputbox">
        <input required="required" data-bind="value: filter, valueUpdate: 'afterkeydown'"/>
        <button class="del" data-bind="click: clearFilter"></button>
      </form>
    </div>
		<div id="items">            			
      <div data-bind="foreach: filteredItems, visible: filteredItems().length > 0">
			<div class="item" data-bind="click: $parent.showPlace"><span data-bind="text: name"></span></div>				
		</div>

</div>
  

</div>
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/knockout-3.4.2.js') }}"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>


  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdqkttXHFtZLwrNlI_uwSyYofpNRLMsJ0"> </script>
  
</body>
</html>
