<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>Sport Catalog</title>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css.map') }}">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css.map') }}">

  </head>
  <body>
  <div class="container">
      
  </div>


  </body>
    <script src="{{ url_for('static', filename='js/jquery-3.1.1.slim.min.js') }}" ></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"  ></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"  ></script>

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/knockout-3.4.2.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>    

</html>